:root {
  /* Variables CSS */
  --white: white;
  --background-gradient: radial-gradient(circle at center, #1f3756, #141539);
  --header-outline: #606e85;
  --rock: #db2e4d;
  --rock-shadow: #9d1634;
  --paper: #5671f5;
  --paper-shadow: #2a45c2;
  --scissors: #eb9f0e;
  --scissors-shadow: #c76c1b;
  --lizard: #834ee3;
  --lizard-shadow: hsl(261, 70%, 26%);
  --spock: #2d8dab;
  --spock-shadow: #156d88;
}

/* Variables SASS */
